@model List<Url>;
@{
	ViewData["Title"] = "All short links";
	var allUrls = ViewData["AllUrls"] as List<Url>;
}

<div class="container">
	<a class="btn btn-outline-success"
	   asp-controller="Home"
	   asp-action="Index">
	   Add new
	   
	</a>
</div>

<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
			   <th scope="col">#</th>
			   <th scope="col">Original link</th>
		       <th scope="col">Shortened Link</th>
			   <th scope="col">Copy Shortened Link</th>
			   <th scope="col">Delete Shortened Link</th>
			</tr>
		
		</thead>
		<tbody>
			@foreach (var url in allUrls)
			{
				<tr>
					<td>@url.Id</td>
					<td>@url.OriginalLink</td>
					<td>@url.ShortLink</td>
					<td>
						<a class="btn btn-outline-danger" asp-controller="Url" asp-action="Copy"
						asp-route-id="@url.Id">
							Copy
						</a>
					</td>
					<td>
						<a class="btn btn-outline-danger" asp-controller="Url" asp-action="Remove"
						asp-route-id = "@url.Id">
							Remove
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
