@model IEnumerable<Url>
@{
    ViewData["Title"] = "All short links";
}

<div class="container mt-4">
    <a class="btn btn-create" asp-action="Create">Add new</a>
</div>

<div class="container custom-header-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="custom-header" scope="col">@Html.DisplayNameFor(model => model.Id)</th>
                <th class="custom-header" scope="col">@Html.DisplayNameFor(model => model.OriginalLink)</th>
                <th class="custom-header" scope="col">@Html.DisplayNameFor(model => model.ShortLink)</th>
                <th class="custom-header" scope="col">Copy Short Link</th>
                <th class="custom-header" scope="col">Delete Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var url in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => url.Id)</td>
                    <td>@Html.DisplayFor(modelItem => url.OriginalLink)</td>
                    <td>
                        <a href="@url.OriginalLink" class="btn btn-primary">
                            @Html.DisplayFor(modelItem => url.ShortLink)
                        </a>
                    </td>
                    <td>
                        <button onclick="copyLink('@url.ShortLink')" class="btn btn-primary">
                            Copy
                        </button>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-controller="Url" asp-action="Remove" asp-route-id="@url.Id">
                            Remove
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function copyLink(shortLink) {
        const link = `https://localhost:7260/Url/IDI/${shortLink}`;
        navigator.clipboard.writeText(link).then(() => {
            alert(`Copied the link: ${link}`);
        }).catch(err => {
            console.error('Failed to copy: ', err);
        });
    }
</script>

