@model IEnumerable<Url>
@{
	ViewData["Title"] = "All short links";
}

<div class="container">
	<a class="btn btn-outline-success"
	   asp-action="Create">
	   Add new  
	</a>
</div>


<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
			   <th scope="col">@Html.DisplayNameFor(model => model.Id) </th>
				<th scope="col">@Html.DisplayNameFor(model => model.OriginalLink)</th>
				<th scope="col">@Html.DisplayNameFor(model => model.ShortLink)</th>
			   <th scope="col">Copy Short Link</th>
			   <th scope="col">Delete Link</th>
			</tr>
		
		</thead>
		<tbody>
			@{
				foreach (var url in Model)
				{
					<tr>
						<td>@Html.DisplayFor(modelItem => url.Id)</td>
						<td>@Html.DisplayFor(modelItem => url.OriginalLink)</td>
						<td>@Html.DisplayFor(modelItem => url.ShortLink)</td>
						<td>
							<a class="btn btn-outline-success" asp-controller="Url" asp-action="Copy"
								asp-route-id="@url.Id">
								Copy
							</a>
						</td>
						<td>
							<a class="btn btn-outline-danger" asp-controller="Url" asp-action="Remove"
								asp-route-id="@url.Id">
								Remove
							</a>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>
